html, body, #root {
    height: 100%;
    margin: 0;
}

.main {
    height: inherit;
    background-color: #003049;
}

.mainBody {
    background-color: #003049;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
    "nav nav nav"
    "sidebar allPosts follow";
}

#allPosts {
    grid-area: allPosts;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signIn-Container {
    color: #003049;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.signIn-buttons-container {
    margin-top: 10%;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-radius: 20px;
}

.signIn-buttons {
    align-self: center;
    font-size: 1em;
    height: 50px;
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    border: solid 3px rgb(90, 71, 202);
    background-color: rgb(90, 71, 202);
    color: whitesmoke;
}

.signIn-buttons:hover, .signIn-buttons:active{
    border: solid 3px rgb(90, 71, 202);
    background-color: rgb(221, 221, 221);
    color: black;
    transition: 0.1s;
}

@media only screen and (max-width: 1400px) {
    .signIn-buttons-container {
        margin-top: 10%;
        width: 30%;
    }
}

@media only screen and (max-width: 860px) {
    .mainBody {
        grid-template-columns: 0.2fr 1fr;
        grid-template-areas: 
        "nav nav nav"
        "sidebar allPosts";
    }

    .signIn-buttons-container {
        margin-top: 20%;
        width: 40%;
    }

    #whoToFollow-sidebar{
        display: none;
    }

    .post {
        width: 60vw;
    }

    textarea {
        width: 60vw;
    }

    .allUsers {
        width: 20%;
    }

    .modal-box {
        width: 50%;
    }

    .sidebar-btn-text {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .signIn-buttons-container {
        margin-top: 30%;
        width: 50%;
    }

    .modal-box {
        width: 70%;
    }

    .greeting{
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .signIn-buttons-container {
        margin-top: 40%;
        width: 60%;
    }

    h1.logoHeader {
        display: none;
    }

    .allUsers {
        width: 30%;
    }

    .profile {
        justify-content: flex-end;
    }
}