#sidebar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-area: sidebar;
    position: fixed;
    height: 100vh;
    width: 25vw;
    top: 100px;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.sideBarBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    font-size: 1.5em;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    text-decoration: none;
}

.sideBarBtns:hover {
    background-color: rgba(129, 107, 255, 0.281);
    border-radius: 30px;
}

a.sideBarBtns:link, a.sideBarBtns:visited{
    color: rgb(202, 202, 202);
}

a.sideBarBtns:hover, a.sideBarBtns:active {
    color: rgb(161, 161, 161);
  }
