#sidebar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-area: sidebar;
    position: fixed;
    height: 100vh;
    width: 25vw;
    top: 100px;
    border-right: solid 1px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
}

.sidebar-button-panel {
    display: flex;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 25px;
    width: auto;
    padding: 5px;
}

.sidebar-button-panel:hover{
    background-color: #095d8a;
    border-radius: 30px;
}

.sideBarBtns {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    height: 50px;
    text-decoration: none;
}

img.sidebar-icon {
    width: 30px;
}

img.sidebar-icon:hover {
    filter: invert();
}

a.sideBarBtns:link, a.sideBarBtns:visited{
    color: rgb(202, 202, 202);
}

